{% extends "SMS/base.html" %}
{% block content %}
{% load static %}
    
  <div class="container">
    <aside>
      <h3>School Management System</h3>
      <ul class="categories">
        <li><span><a href="{% url 'SMS:Login' %}">Students</a></span></li>
        <li><span><a href="{% url 'SMS:Login' %}">Teachers</a></span></li>        
        <li><span><a href="{% url 'SMS:Login' %}">Administrators</a></span></li>
      </ul>
    </aside>
    <section id="content">
      <div class="inside">
        <h2>Our <span>Contacts</span></h2>
        <div class="address">
          <address>
          <strong>Zip Code:</strong>548102<br>
          <strong>Country:</strong> Pakistan<br>
          <strong>Contact</strong>+923078864024<br>
        
          
          </address>
          <div class="extra-wrap">
            <h4>Email:</h4>
            <p>sumeyaanjum32@gmail.com </p>
          </div>
        </div>
        <h2>Contact <span>Form</span></h2>
        <form id="contacts-form" action="#">
          <fieldset>
            <div class="field">
              <label>Your Name:</label>
              <input type="text" value=""/>
            </div>
            <div class="field">
              <label>Your E-mail:</label>
              <input type="email" value=""/>
            </div>
            <div class="field">
              <label>Your Website:</label>
              <input type="text" value=""/>
            </div>
            <div class="field extra">
              <label>Your Message:</label>
              <textarea cols="1" rows="1"></textarea>
            </div>
            <div class="alignright"><a href="#">Send Your Message!</a></div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>
{% endblock %}
