<!DOCTYPE html>
<html lang="en">
<head>
<title>Student's Site | Student Home</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</head>
<body id="page5">
<!-- START PAGE SOURCE -->
<div class="wrap">
  <header>
    <div class="container">
      <h1><a href="#">Student's site</a></h1>
      <nav>
        <ul>
            <li class="current"><a href="TimeTableT.html" class="m1">Time Table</a></li>
            <li><a href="DateSheetT.html" class="m2">Date Sheet</a></li>
            <li><a href="ResultT.html" class="m3">Result</a></li>
            <li><a href="RequestT.html" class="m4">Request</a></li>
            <li><a href="AssignmentsT.html" class="m5">Assignments</a></li>
           
            <li><a href="Payroll.html" class="m7">Payroll</a></li>
            <li><a href="AttendanceT.html" class="m8">Attendance</a></li>
         
      </nav>
    </div>
</header>
<h2>Date<span>Sheet</span></h2>
<form id="contacts-form" action="#">
    <fieldset>
        <div class="field">
            <label>Class:</label>
            <input type="text" value=""/>
        </div>
        <br></br>
        <table border="2" cellspacing="3" align="left">
                <tr>
                 <td align="center">Date
                 <td align="center">Course
                 
                </tr>
                <tr>
                    <td align="center">
                    <td align="center"><font color="black"><br>
                    
                </tr>
                <tr>
                    <td align="center">
                    <td align="center"><font color="black"><br>
                </tr>
                <tr>
                    <td align="center">
                    <td align="center"><font color="black"><br>
                </tr>
                <tr>
                    <td align="center">
                    <td align="center"><font color="black"><br>
                </tr>
                <tr>
                    <td align="center">
                    <td align="center"><font color="black"><br>
                </tr>
                <tr>
                    <td align="center">
                    <td align="center"><font color="black"><br>
                </tr>
                <tr>
                    <td align="center">
                    <td align="center"><font color="black"><br>
                </tr>
                <button type="button"  align = "centre">Back</button>
     </fieldset>
</form>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>