<title>Student's Site | Student Home</title>
{% extends "SMS/base.html" %}
{% block content %}
{% load static %}
<div class="container">
<aside>
    <h3>Categories</h3>
    <ul class="categories">
      <li><a href= "{% url 'SMS:ViewTimeTableSudent' StudentId %}" class="m1">Time Table</a></li>
        <li><a href= "{% url 'SMS:ViewDateSheet' StudentId %}" class="m2">Date Sheet</a></li>
        <li><a href= "{% url 'SMS:ViewResult' StudentId %}" class="m3">Result</a></li>
        <li><a href= "{% url 'SMS:SendStudentRequest' StudentId %}" class="m4">Request</a></li>
        <li><a href= "{% url 'SMS:UploadStudentAssignment' StudentId %}" class="m5">Assignments</a></li>
        <li><a href= "{% url 'SMS:StudentAcademicDetail' StudentId %}" class="m6">Academic Detail</a></li>
        <li><a href= "{% url 'SMS:ViewStudentFee'  StudentId%}" class="m7">Fee</a></li>
    </ul>
    </aside>
    <section id="content">
    <div class="inside">
      <h2>Fee <span>Detail</span></h2>
      <form id="contacts-form" action="#">
        <fieldset>
            <div class="field">
              <label>Challan Id:</label>
              <input type="text" value="{{Id}}" readonly/>
            </div>
            <div class="field">
              <label>Month:</label>
              <input type="text" value="{{Month}}" readonly/>
            </div>
            <div class="field">
              <label>Class:</label>
              <input type="text" value="{{Class}}" readonly/>
            </div>
          <div class="field">
            <label>Fee:</label>
            <input type="text" value="{{Amount}}" readonly/>
          </div>
          <div class="field">
            <label>Due date:</label>
            <input type="text" value="{{Duedate}}" readonly/>
          </div>
      </fieldset>
      </form>
      </div>
      </section>    
      
    </div>
 {% endblock %}
 
