{% extends "SMS/base.html" %}
{% block content %}
{% load static %}
  <div class="container">
    <aside>
      <h3>School Management System</h3>
      <ul class="categories">
        <li><span><a href="{% url 'SMS:Login' %}">Students</a></span></li>
        <li><span><a href="{% url 'SMS:Login' %}">Teachers</a></span></li>        
        <li><span><a href="{% url 'SMS:Login' %}">Administrators</a></span></li>
        
      </ul>
      
     
    </aside>
    <section id="content">
      <div id="banner">
        <h2>School <span> Management <span>System</span></span></h2>
      </div>
      <div class="inside">
        
        <h2>Move Forward <span>With Your Education</span></h2>
        <p><span class="txt1">The schools</span> are open systems. As with any other system, the school system also has inputs, processes, outputs,
          feedback, and there are sub-systems interact with its environment. If we consider “process”, one of the subsystems, we can encounter its sub-systems which are based on four basis in cycle; these are management,
          education, cultural, and politics. According to reports prepared as a result of international exams, surveys and
          assessments, the most important factors that affect academic success in the educational process, the
          administration and faculty, school principals and teachers that come to the fore. In this study; the "school
          management" that affects and increases student academic success and the implications for its development is
          selected as a main problem and tried to be clarified the results obtained, evaluation findings, and proposals on
          the subject.So here on our website these problems are considered and sorted. </p>
       
    </section>
  </div>
  {% endblock %}