<!DOCTYPE html>
<html lang="en">
<head>
<title>Student's Site</title>
<meta charset="utf-8">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'SMS/css/reset.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'SMS/css/style.css' %}" media="all">
<script type="text/javascript" src="{% static 'SMS/js/jquery-1.4.2.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'SMS/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'SMS/js/cufon-replace.js' %}"></script>
<script type="text/javascript" src="{% static 'SMS/js/Myriad_Pro_300.font.js' %}"></script>
<script type="text/javascript" src="{% static 'SMS/js/Myriad_Pro_400.font.js' %}"></script>
<script type="text/javascript" src="{% static 'SMS/js/script.js' %}"></script>

</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="wrap">
     <header>
         <div class="container">
            <h1><a href="#">School Management System</a></h1>
                <nav>
                    <ul>
                      <li class="current"><a href="TimeTable.html" class="m1">Time Table</a></li>
                      <li><a href="DateSheet.html" class="m2">Date Sheet</a></li>
                      <li><a href="Result.html" class="m3">Result</a></li>
                      <li><a href="Request.html" class="m4">Request</a></li>
                      <li><a href="Assignments.html" class="m5">Assignments</a></li>
                      <li><a href="AcademicDetail.html" class="m6">Academic Detail</a></li>
                      <li><a href="Fee.html" class="m7">Fee</a></li>
                   
                    </ul>
                </nav>
         </div>
    </header>
 <script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>
